<div class="container">
  <form (ngSubmit)="login()">
    <div class="card-body">
      <h3>Login</h3>
      <input
        class="form-control"
        type="text"
        placeholder="Username"
        name="username"
        [(ngModel)]="user.username"
      />
      <br />

      <show-hide-password
        size="md"
        icon="fontawesome"
        btnStyle=""
        [btnOutline]=""
      >
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
        />
      </show-hide-password>

      <br />
      <button class="btn btn-success" type="submit">
        Login
      </button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="register()"
      >
        Register
      </button>
    </div>
  </form>
</div>
