<div style="max-width: 1000px; margin: 0 auto">
  <h1>My Products</h1>

  <div>
    <button class="btn btn-custom-2" (click)="createProduct()">
      Add new product
    </button>
  </div>

  <h2>Offered Products</h2>
  <div class="card" *ngFor="let product of offers">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Status: {{ product.status }}</p>
      <button
        class="btn btn-secondary"
        [routerLink]="['/view-product/', product.id]"
      >
        View
      </button>
      <!-- <button class="btn btn-primary" (click)="editProduct(product.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button> -->
    </div>
  </div>
  <h2>Reserved & Purchased Products</h2>
  <div class="card" *ngFor="let product of purchases">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Status: {{ product.status }}</p>
      <button class="btn btn-secondary" (click)="viewProduct(product.id)">
        View
      </button>
      <!-- <button class="btn btn-primary" (click)="editProduct(product.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button> -->
    </div>
  </div>
</div>
