<form [formGroup]="productForm" style="max-width: 1000px; margin: 0 auto" (ngSubmit)="addProduct()">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" formControlName="name" class="form-control">
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input type="text" formControlName="description" class="form-control">
    </div>
    <div class="form-group">
        <label>Purchase price:</label>
        <input type="text" formControlName="purchasePrice" class="form-control">
    </div>
    <div class="form-group">
        <label>Selling price:</label>
        <input type="text" formControlName="sellingPrice" class="form-control">
    </div>
    <div class="form-group">
        <label>Status:</label>
        <input type="text" formControlName="status" class="form-control">
    </div>
    <div class="form-group">
        <label>Picture URL:</label>
        <input type="text" formControlName="pictureUrl" class="form-control">
    </div>

    <div class="btn">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>