<div style="max-width: 1000px; margin: 0 auto">
  <h1>Pending products</h1>
    <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let product of pendingProducts" >
        <div>{{product.name}}</div>
        <div>{{product.description}}</div>
        <div>
            <button type="button" class="btn btn-success" (click)="onAccept(product)">Accept</button>
            <button type="button" class="btn btn-danger" (click)="onReject(product)">Reject</button>
         </div>
    </li>
  </ul>

  <h1>Available products</h1>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let product of availableProducts">
        <div>{{product.name}}</div>
        <div>{{product.description}}</div>
        <div>
            <button type="button" class="btn btn-primary" (click)="onApprove(product)">Approve</button>
        </div>
    </li>
  </ul>
</div>
