<div *ngIf="product" style="max-width: 1000px; margin: 0 auto">
    <div>
        <h1>{{product.name}}</h1>
        <div>Status: {{product.status}}</div>
        <div>{{product.description}}</div>
        <div>Price: {{product.sellingPrice}}</div>
        <div *ngIf="product.status==='RESERVED'">
            <button class="btn btn-danger" (click)="cancelReservation(product)">Cancel Reservation</button>
            <p>(Click Cancel Reservation to undo the reservation!)</p>
        </div>
        <div *ngIf="product.status==='APPROVED'">
            <button class="btn btn-success" (click)="reserveProduct(product)">Buy</button>
            <p>(Click Buy to reserve the product!)</p>
        </div>

        <div *ngIf="product.status==='RESERVED'">
            
            <button class="btn btn-success" (click)="createOrderAndPay(product)">Pay</button>
            <p>(By clicking Pay you will be redirected to the payment service!)</p>
        </div>

    </div>
</div>