/* You can add global styles to this file, and also import other style files */

#toast-container > div {
  opacity: 1;
}

.navbar-custom {
  background-color: #E51400;
}

.btn-custom {
  background-color: #E51400;
}

.btn-custom:active {
  background-color: #E51400;
}

.btn-custom:hover {
  background-color: #b31000;
}

.btn-custom-2 {
  background: #E51400;
  color: white;
}

.btn-custom-2:not(:disabled) {
  background: #e51400;
  color: white;
}

.btn-custom-2:hover {
  background-color: #b31000;
  color: white;
}