<form [formGroup]="productForm">

    <label>
        Name:
        <input type="text" formControlName="name">
    </label>
    <label>
        Description:
        <input type="text" formControlName="description">
    </label>
    <label>
        Purchase price:
        <input type="text" formControlName="purchasePrice">
    </label>
    <label>
        Selling price:
        <input type="text" formControlName="sellingPrice">
    </label>
    <label>
        Status:
        <input type="text" formControlName="status">
    </label>
    <label>
        Picture URL:
        <input type="text" formControlName="pictureUrl">
    </label>


</form>