<div class="container">
  <div class="card-body">
    <h3>Register</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
        />
      </div>
      <div
        *ngIf="
          userForm.controls.username.invalid &&
          (userForm.controls.username.dirty ||
            userForm.controls.username.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="userForm.controls.username.errors.required">
          Name is required.
        </div>
        <div *ngIf="userForm.controls.username.errors.minlength">
          Name must be at least 2 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
          required
          formControlName="email"
        />
      </div>
      <div
        *ngIf="
          userForm.controls.email.invalid &&
          (userForm.controls.email.dirty || userForm.controls.email.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="userForm.controls.email.errors.required">
          Email is required.
        </div>
        <div *ngIf="userForm.controls.email.errors.email">
          Email must be in a correct format
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          required
          formControlName="password"
        />
      </div>
      <div
        *ngIf="
          userForm.controls.password.invalid &&
          (userForm.controls.password.dirty ||
            userForm.controls.password.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="userForm.controls.password.errors.required">
          Password is required.
        </div>
        <div *ngIf="userForm.controls.password.errors.minlength">
          Password must be at least 8 characters long
        </div>
      </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input
          type="text"
          class="form-control"
          id="street"
          name="street"
          placeholder="Enter your street"
          required
          formControlName="street"
        />
      </div>
      <div
        *ngIf="
          userForm.controls.street.invalid &&
          (userForm.controls.street.dirty || userForm.controls.street.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="userForm.controls.street.errors.required">
          Street is required.
        </div>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          placeholder="Enter your street"
          required
          formControlName="city"
        />
      </div>
      <div
        *ngIf="
          userForm.controls.city.invalid &&
          (userForm.controls.city.dirty || userForm.controls.city.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="userForm.controls.city.errors.required">
          City is required.
        </div>
      </div>
      <div class="form-group">
        <label for="zipcode">Zip</label>
        <input
          type="text"
          class="form-control"
          id="zipcode"
          name="zipcode"
          placeholder="Enter your zipcode"
          required
          formControlName="zipcode"
        />
      </div>
      <div
        *ngIf="
          userForm.controls.zipcode.invalid &&
          (userForm.controls.zipcode.dirty || userForm.controls.zipcode.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="userForm.controls.zipcode.errors.required">
          Zip code is required.
        </div>
      </div>
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-info">
        Submit
      </button>
    </form>
  </div>
</div>
